    <div class="container">
        <div class="col s12 m7">
            <div class="card horizontal cyan accent-3">
                <div class="card-image">
                    <img src="">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <div align="center">
                            <span class="card-title">Event</span>
                        </div>
                    <form novalidate style="height:500pt;width:300pt">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">mode_edit</i>
                                <input id="icon_prefix1" type="text" class="validate" ng-model="eventCtrl.e.name">
                                <label for="icon_prefix">Event Name</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">mode_edit</i>
                                <input id="icon_prefix7" type="text" class="validate" ng-model="eventCtrl.e.venue">
                                <label for="icon_prefix">Venue</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mode_edit</i>
                                <textarea id="icon_prefix3" class="materialize-textarea"  ng-model="eventCtrl.e.description"></textarea>
                                <label for="icon_prefix2">Description</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mode_edit</i>
                                <input type="date" class="datepicker" ng-model="eventCtrl.e.startDate">
                                <label for="icon_prefix2">Event Date</label>
                            </div>
                        </div>
                        <div class="row">
                            <form action="#">
                                <div class="file-field input-field">
                                    <div class="btn cyan accent-4">
                                        <span>File</span>
                                        <input type="file" multiple>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Upload file">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-action">
                        <div align="center">
                          <!--<  <a class="waves-effect waves-light btn col s5 cyan accent-4">Create Event</a>-->
                        <input type="button" ng-click="eventCtrl.createEvent()" class="btn btn-primary btn-md" value="Create Event" />
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Create Event -->